# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Env (향후 확장용)
.env
.env.*
